<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fairy.easy.httpcanary">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".preview.PreviewActivity"
            android:enabled="false"
            android:icon="@drawable/http_canary_icon"
            android:label="@string/http_canary_display_activity_label"
            android:taskAffinity="fairy.easy.httpcanary"
            android:theme="@style/http_canary_LogCanary.Base">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preview.HarDetailActivity"
            android:theme="@style/http_canary_LogCanary.Base" />
    </application>

</manifest>
